:root{
  --base-color : #f8f3b6;
  
  --font-color :#54567a;
  --headline-color: linear-gradient(87.4deg, rgb(255, 241, 165) 1.9%, rgb(200, 125, 76) 49.7%, rgb(83, 54, 54) 100.5%);
  --radius : 8px;
}
 .container {
   font-family: 'Dosis', sans-serif;
 }
.origami-crane {
  max-width: 45px;
}

.backround {
  background: #dab784;
}
.headline {
  text-align: center;
  margin: 20px;
}

.headOne {
  margin-left: 15px;
  font-weight: bold;
  font-size: 25px;
  color: #ee8374;
}
.headline {
  font-size: 45px;
}
.hero {
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 20px;
  background-color: var(--base-color);
  color: var(--font-color);
}
.explanation {
  font-size: 20px;
  color: var(--font-color);
}
.lineOne{
  display: flex;
  justify-content: space-between;
}

.reason{
  background: var(--base-color);
  margin: 10px;
  padding: 12px;
  margin-bottom: 25px;
  font-size: 17px;
  color: var(--font-color);
  font-weight: 500;
  font-size: 17px;
}
.why{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
.lead{
background: var(--base-color);
  padding: 20px;
    font-size: 30px;
}
.crane

{
  background: var(--base-color);
  margin-left: 25px;
  padding: 20px;
  font-size: 30px;
  margin-bottom: 40px;
  margin-right: 40px;
  padding-top: 25px;
  color: var(--font-color);
}
video{
  margin-bottom: 20px;
}


h2{
  margin-top: 20px;
  padding-left: 15px;
padding-top: 5px;
  padding-bottom: 5px;}

h2,
h1{
background: var(--headline-color);
padding-top: 5px;
padding-bottom: 5px;
border-radius: var(--radius);
transition: all 100ms ease-in-out;

}
.funFact{
  background: var(--base-color);
  padding: 10px;
  margin-top: 35px;
  font-size:29px;

}
  .funFactSm {
    font-size: 18px;
  }
 
  nav{
    font-family: 'Dosis', sans-serif;
  }
  .history{
    font-size: 19px;
  }
@media(max-width:900px) {
  .large {
    display: none;
  }

  .heart {
    margin-left: 100px;
  }
}


@media(min-width:900px) {
  .small {
    display: none;
  }

  h1:hover {
    margin-left: 150px;
    margin-right: 150px;
  }

  .funFactSm {
    display: none;

  }
}
.folds{
  background: var(--headline-color);
  font-size: 20px;
  padding: 6px;
  border-radius: var(--radius)
   
}
p{
  font-size: 20px;
  padding: 8px;
  border-right: 2px solid #583937;
  border-bottom: 2px solid #583937;
}
.videos{
  font-size: 20px;

}
.link{
  font-size: 20px;
  color: #573837;
  padding: 20px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  

}
.link:hover{
  background:var(--base-color);
  color: var(--font-color);
  text-decoration: underline;
}
